<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abhishek's Web App | About</title>
</head>
<body>
{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Me</h1>

    <p>Hi! My name is Abhishek Swaminathan.</p>
    <p> You can find me on
    <a href="https://www.linkedin.com/in/abhishekswaminathan/">LinkedIn</a> |
    <a href="https://github.com/abhisheksn">Github</a>.
    </p>
{% endblock %}

    <footer>
        <p>My footer</p>
    </footer>

</body>
</html>
